#lamp-img {
    margin: 0 auto;
    display: table;
}

table#alat-desc tr td {
	padding: 5px;
}

.hidden-chart {
	height: 300px;
	display: table;
}

.hidden-chart p#chart-msg {
	display: table-cell;
	vertical-align: middle;
	font-size: 20pt;
	font-weight: bold;
}

#box-chart .box-body .form-inline {
	margin-bottom: 20px;
}

#box-chart .box-body .form-inline .form-control {
	height: 30px;
}

#box-chart .box-body .form-inline .btn {
	padding: 4px 12px;
}

.btn-refresh-top {
	float: right;
    position: relative;
    top: -70px;
    cursor: pointer;
}

